@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}
body {
  font-family:
    "Segoe UI",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}
@media print {

  body {
    background: white;
  }

  body * {
    visibility: hidden;
  }

  #receipt,
  #receipt * {
    visibility: visible;
  }

  #receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none !important;
    border: none !important;
  }

  .print\:hidden {
    display: none !important;
  }
}